/*
*/
/* 
    Created on : 2016-11-07, 10:57:23
    Author     : xyevs
*/

*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

html, body{
    height: 100%;
    position: relative;
    background: url('Images/kaladeshBG.jpg') no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

/*------------------------------------*/
/* STRUCTURE      */
/*------------------------------------*/

#main-container{
    height: 100%;
    position: relative;
}

#main-container > div{
    padding: 15px;
    width: 100%;
}

#main-container > div > div{
    margin: 0 auto;
    width: 98%;
    max-width: 960px;
}

/*------------------------------------*/
/*  Menu-droite     */
/*------------------------------------*/
/*
#menu-droite{
    list-style-type: none;
    display: block;
    width: 200px;
    margin: 150px auto;
    margin-right: 75px;
    text-align: center;
    float: right;
    height: 40px
}

#menu-droite:after{
    content: '';
    display: block;
    clear: both;
}

#menu-droite > li {
    display: block;
    position: relative;
    padding: 15px;
    float: right;
    color: #EC3024;
    width: 200px;
    height: 40px;
    font-size: 16px;
    background: #404040;
    border: 1px solid red;
    text-transform: uppercase;
    cursor: pointer;
}

#menu-droite > li:hover{
    background: #808080;
}

*/
/*------------------------------------*/
/*  accueil     */
/*------------------------------------*/

#accueil{
    background: url('Images/Spirebluff-Canal-Kaladesh.png') no-repeat;
    background-size: cover;
    background-position: top;
    width: 100%;
    height: 100%;
    margin: 150px auto;
    margin-left: auto;
    margin-right: auto;
    float: left;
    border: 1px solid white;
    text-align: center;
    color: #fff;
    
}

#accueil > h1{
    font-size: 48px;
}

#accueil > p{
    font-size: 16px;
    text-align: justify;
}
/*------------------------------------*/
/*  Acces aux pages web   */
/*------------------------------------*/

#main-container > #image-mtg{
    background: #EC3024;
    min-height: 300px;
    padding: 0;
}

#acces-page-web > #image-mtg > div{
    margin: 0;   
    width: 480px;
    height: 300px;
    display: flex;
    display: -webkit-flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;

}

#acces-page-web > div > div{
    overflow: hidden;
    height: 300px;
    width: 480px;
    flex-grow: 1;
    flex-basis: auto;
    cursor: pointer;
}

#acces-page-web > div > div.image-mtg{
    width: 100%;
    height: 100%;
    background: no-repeat center;
    background-size: cover;
    position: relative;
}


/*------------------------------------*/
/*       */
/*------------------------------------*/

div.do-not-touch{
    position: fixed;
    bottom: 20px;
    right: 20px;
    width: 280px;
    text-align: center;
    padding: 12px;    
    border: 1px solid #00ab12;
    background: #a4f2af;
    transition: 0.3s;
    cursor: pointer;
}

div.do-not-touch > p:hover{
    background: #ff0000;

}