/*
    Created on : 2016-11-07, 10:57:23
    Author     : xyevs
*/

*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

html, 
body{
    height: 100%;
    position: relative;
    font-family: 'Open Sans', sans-serif;
}

body{
    background: url('Images/kaladeshBG.jpg') no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    color: #fff;
    text-shadow: 2px 2px 8px #FF0000;

}

h1{
    font-size: 72px;
    line-height: 62px;	
    font-weight: normal;
    padding-bottom: 10px;
    text-shadow: 2px 2px 8px #FF0000;
}

p{
    margin-top: 25px;
}

a,
a:link,
a:hover,
a:visited,
a:active{
    color: #fff;
    font-size: 24px;  
    padding-top: 150px;
    text-align: center;
    text-decoration: none;
}
/*------------------------------------*/
/* STRUCTURE      */
/*------------------------------------*/

#main-container{
    height: 100%;
    position: relative;
}

#main-container > div{
    padding: 15px;
    width: 100%;
}

#main-container > #accueil > p{
    font-size: 24px;
    text-align: justify;
    padding-top: 50px;
}

#main-container > div > div{
    margin: 0 auto;
    width: 98%;
    max-width: available;
}

/*------------------------------------*/
/*  Menu-droite     */
/*------------------------------------*/
/*
#menu-droite{
    list-style-type: none;
    display: block;
    width: 200px;
    margin: 150px auto;
    margin-right: 75px;
    text-align: center;
    float: right;
    height: 40px
}

#menu-droite:after{
    content: '';
    display: block;
    clear: both;
}

#menu-droite > li {
    display: block;
    position: relative;
    padding: 15px;
    float: right;
    color: #EC3024;
    width: 200px;
    height: 40px;
    font-size: 16px;
    background: #404040;
    border: 1px solid red;
    text-transform: uppercase;
    cursor: pointer;
}

#menu-droite > li:hover{
    background: #808080;
}

*/
/*------------------------------------*/
/*  accueil     */
/*------------------------------------*/

#main-container > #accueil{
    background: url('Images/Spirebluff-Canal-Kaladesh.png') no-repeat;
    background-size: cover;
    background-position: top;
    width: 100%;
    height: 100%;
    /*margin: 150px auto;*/
    margin-left: auto;
    margin-right: auto;
    float: left;
    border: 1px solid white;
    text-align: center;
    color: #fff;
    
}

/*------------------------------------*/
/*  Acces aux pages web   */
/*------------------------------------*/

#main-container > #acces-page-web{
    min-height: min-content;
    padding: 0;
    width: 100%;
}

#main-container > #acces-page-web > div{
    margin: 0;   
    width: 100%;
    height: 100%;
    display: flex;
    display: -webkit-flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
}

#acces-page-web > div > div{
    overflow: hidden;
    height: 300px;
    width: 480px;
    flex-grow: 1;
    flex-basis: auto;
    position: relative;
    cursor: pointer;
}

#acces-page-web > div > div > a > div.image-mtg{
    width: 100%;
    height: 100%;
    background: no-repeat center;
    background-size: cover;
    position: relative;
    transition: all 1s;
}

#image-mtg > div > div > a > div.image-mtg{
    background: rgba(0, 0, 0, 0.55);
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0; 
    left: 0;
    font-size: 48px;
    font-variant: small-caps;
    text-transform: lowercase;
    padding: 15px;
    padding-top: 160px;
    text-align: center;
    transition: background 0.3s;
    font-family: 'Open Sans', sans-serif;
    justify-content: center;
}

#acces-page-web > div > div:hover > a > div.image-mtg{
    transform: scale(1.5, 1.5);
}

#acces-page-web > div > div > a > div > div.content.liste:hover{
    background: rgba(34, 121, 191, 0.55);
}

#acces-page-web > div > div > a > div > div.content.classement:hover{
    background: rgba(34, 121, 191, 0.55);
}



/*------------------------------------*/
/*       */
/*------------------------------------*/
/*------------------------------------*/
/*       */
/*------------------------------------*/
/*------------------------------------*/
/*       */
/*------------------------------------*/
/*------------------------------------*/
/*       */
/*------------------------------------*/

div.do-not-touch{
    position: fixed;
    bottom: 20px;
    right: 20px;
    width: 280px;
    text-align: center;
    padding: 12px;    
    border: 1px solid #00ab12;
    background: #a4f2af;
    transition: 0.3s;
    cursor: pointer;
}

div.do-not-touch > div > a:hover{
    background: #ff0000;
}

.clear{
    clear: both;
}